@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  padding: 1rem;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

table tr td {
  color: inherit !important;
}

.row-VeryLow {
  background-color: #8bc34a;
}
.row-Low {
  background-color: #3b82f6;
  color: #fff !important;
}
.row-Average {
  background-color: #fff;
}
.row-High {
  background-color: #ff9800;
}
.row-VeryHigh {
  background-color: #d32f2f;
  color: #fff !important;
}
